.main {
  display: grid;
  grid-template-columns: 1fr 66rem;
  gap: 19.3rem;

  padding-top: 6.5rem;

  @include breakpoint($xl-bp) {
    padding-top: 3.7rem;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
  }

  @include breakpoint($sm-bp) {
    padding-top: 1.5rem;
  }
}

.main-block {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;

  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0;

  margin-top: 2.7rem;

  @include breakpoint($sm-bp) {
    margin-top: 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
    gap: 1.6rem;
  }
}

.main-block-text {
  @include breakpoint($sm-bp) {
    margin-right: 1.5rem;
  }
}

.main-button {
  width: max-content;

  @include breakpoint($sm-bp) {
    width: 100%;
  }
}

.main-wrapper {
  margin-top: 2.3rem;

  @include breakpoint($xl-bp) {
    margin-top: 3.2rem;
  }
}

.main-arrows-list {
  display: flex;
  gap: 3rem;

  @include breakpoint($sm-bp) {
    justify-content: center;
    gap: 2rem;
  }
}

.main-arrow {
  width: 4.1rem;
  height: 1.6rem;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform .3s, filter .3s;

  &:hover {
    filter: invert(31%) sepia(98%) saturate(4109%) hue-rotate(127deg) brightness(97%) contrast(102%);
  }

  @include breakpoint($sm-bp) {
    width: 2.2rem;
    background-size: cover;
  }
}

.main-arrow.prev {
  background-image: url("data:image/svg+xml,%3Csvg width='41' height='16' viewBox='0 0 41 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292892 7.2929C-0.0976296 7.68342 -0.0976295 8.31659 0.292893 8.70711L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41422 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928935C7.68054 0.538411 7.04738 0.538411 6.65685 0.928935L0.292892 7.2929ZM41 7L1 7L1 9L41 9L41 7Z' fill='black'/%3E%3C/svg%3E%0A");

  &:hover {
    transform: translate3d(-0.3rem, 0, 0);
  }

  &:active {
    transform: translate3d(-0.5rem, 0, 0);
  }

  @include breakpoint($sm-bp) {
    background-position: left;
  }
}

.main-arrow.next {
  background-image: url("data:image/svg+xml,%3Csvg width='41' height='16' viewBox='0 0 41 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M40.7071 8.70711C41.0976 8.31658 41.0976 7.68342 40.7071 7.29289L34.3431 0.928932C33.9526 0.538408 33.3195 0.538408 32.9289 0.928932C32.5384 1.31946 32.5384 1.95262 32.9289 2.34315L38.5858 8L32.9289 13.6569C32.5384 14.0474 32.5384 14.6805 32.9289 15.0711C33.3195 15.4616 33.9526 15.4616 34.3431 15.0711L40.7071 8.70711ZM0 9H40V7H0V9Z' fill='black'/%3E%3C/svg%3E%0A");

  &:hover {
    transform: translate3d(0.3rem, 0, 0);
  }

  &:active {
    transform: translate3d(0.5rem, 0, 0);
  }

  @include breakpoint($sm-bp) {
    background-position: right;
  }
}

.main-floor,
.main-img {
  height: 46.2rem;
  border-radius: 1.3rem;

  @include breakpoint($xl-bp) {
    height: 15.1rem;
  }
}

.main-floor {
  width: 31.7rem;

  @include breakpoint($xl-bp) {
    width: 100%;
  }
}

.main-img {
  width: 70rem;

  @include breakpoint($xl-bp) {
    width: 100%;
  }
}



.main-swiper {
  margin-top: 2.3rem;

  @include breakpoint($sm-bp) {
    margin-top: 1.7rem;
    padding-right: 0;
    padding-left: 0;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    padding: 2.5rem 4rem;
    border: 0.2rem solid #000000;
    border-radius: 1.5rem;
    position: relative;
    margin-right: 8rem;

    @include breakpoint($xl-bp) {
      padding: 4.3rem 1.5rem;
      display: grid;
      grid-template-columns: 1fr 2.3fr;
      column-gap: 1.3rem;
      row-gap: 1.9rem;
      justify-content: space-between;
      margin-right: 2rem;
    }

    @include breakpoint($sm-bp) {
      padding-bottom: 0.5rem;
    }

    &::before {
      content: attr(data-number)"/";
      position: absolute;
      top: 2.5rem;
      right: 4rem;


      font-weight: 700;
      font-size: 1.6rem;
      line-height: 2rem;

      @include breakpoint($xl-bp) {
        top: 1rem;
        right: 1.5rem;
      }

      @include breakpoint($sm-bp) {
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }
  }
}

.main-list-container {
  margin-left: 10rem;
  margin-bottom: 1.6rem;

  @include breakpoint($xl-bp) {
    grid-column: 2 span;
    margin-left: 0;
  }

  @include breakpoint($sm-bp) {
    margin-bottom: 0;
  }
}

.main-list {
  min-width: 40rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2rem;

  @include breakpoint($xl-bp) {
    min-width: 0;
  }

  @include breakpoint($sm-bp) {
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0;
  }
}


.main-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.1rem solid var(--black);
  &:last-child {
    padding-top: 0;
    padding-bottom: 0;
    a {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      @include breakpoint($sm-bp) {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
    }
  }
  @include breakpoint($sm-bp) {


    &:last-child {
      border-bottom: 0;
    }
  }

  &>div {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    @include breakpoint($sm-bp) {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    &:last-child {
      font-weight: 700;
    }
  }
}

.main-list-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  width: 100%;
  transition: color .3s;
  &:hover {
    color: var(--green);
    .main-list-arrow {
      transition: filter .3s, transform .3s;
      transform: translate3d(0.3rem, 0, 0);
      filter: invert(31%) sepia(98%) saturate(4109%) hue-rotate(127deg) brightness(97%) contrast(102%);
    }

  }
  &:active {
    .main-list-arrow {
      transform: translate3d(0.5rem, 0, 0);
    }
  }
}

.main-list-arrow {
  width: 4.1rem;
  height: 1.6rem;
  transition: transform .3s;
}

.counter-increment {
  counter-increment: num;
}

.counter-content {
  &::before {
    content: counter(num, decimal-leading-zero)".";
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 3.1rem;
    /* identical to box height */

    letter-spacing: -0.025em;

    @include breakpoint($xl-bp) {
      font-size: 1.6rem;
      line-height: 2rem;
    }
  }
}

.mt-220 {
  margin-top: 22rem;

  @include breakpoint($xl-bp) {
    margin-top: 10rem;
  }
}

.mt-200 {
  margin-top: 20rem;

  @include breakpoint($xl-bp) {
    margin-top: 8rem;
  }
}

.mt-180 {
  margin-top: 18rem;
  @include breakpoint($xl-bp) {
    margin-top: 10rem;
  }
  @include breakpoint($sm-bp) {
    margin-top: 3rem;
  }
}

.mt-100 {
  margin-top: 10rem;
  @include breakpoint($sm-bp) {
    margin-top: 6rem;
  }
}

.mt-80 { 
  margin-top: 6.5rem;
  @include breakpoint($sm-bp) {
    margin-top: 1.5rem;
  }
}

.mt-60 {
  margin-top: 6rem;
  @include breakpoint($xl-bp) {
    margin-top: 4rem;
  }
}

.presentation {
  @include breakpoint($sm-bp) {
    padding-left: 0;
    padding-right: 0;
  }

  .presentation-second-button {
    margin-top: 4rem;
  }
}

.presentation-top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  @include breakpoint($xl-bp) {
    flex-direction: column;
  }
}

.presentation-top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 109.5rem;
  gap: 5.9rem;

  @include breakpoint($xl-bp) {
    width: 100%;
    align-items: baseline;
  }
}

.presentation-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6rem;
  margin-top: 7.6rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 4rem;
    gap: 3rem;
  }

  @include breakpoint($sm-bp) {
    padding-left: 0;
    padding-right: 0;
  }
}

.presentation-item {
  border: 0.2rem solid var(--black);
  border-radius: 1.5rem;
  height: min-content;
}

.presentation-img {
  border-top-left-radius: 1.3rem;
  border-top-right-radius: 1.3rem;
  height: 25.7rem;

  @include breakpoint($sm-bp) {
    height: 18.5rem;
  }

  img {
    will-change: opacity;
    animation: fadeEffect 1s;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.presentation-block {
  padding: 3rem 2.8rem;

  @include breakpoint($sm-bp) {
    padding: 2.6rem 1.3rem;
  }
}

.presentation-texts {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  justify-content: space-between;
  gap: 1.5rem;

  @include breakpoint($sm-bp) {
    gap: 1.3rem;
  }
}


.presentation-name,
.presentation-company {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 3.1rem;
  max-width: 24rem;

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
    line-height: 2rem;
  }
}

.presentation-type {
  max-width: 20rem;
}

.presentation-name {
  font-weight: 700;
}

.presentation-bot {
  display: flex;
  justify-content: space-between;
  margin-top: 6.4rem;

  @include breakpoint($sm-bp) {
    margin-top: 2rem;
  }
}

.presentation-bot-width {
  display: flex;
  gap: 2rem;
}

.presentation-colors {
  padding-top: 2rem;
  margin-top: 1.9rem;
  border-top: 0.1rem solid var(--black);
  display: flex;
  justify-content: space-between;
  gap: 6rem;

  @include breakpoint($xl-bp) {
    gap: 3rem;
  }

  @include breakpoint($sm-bp) {
    margin-top: 0.9rem;
    gap: 1rem;
  }
}

.presentation-button {
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: none;
  padding: 1.8rem 1.4rem;
  height: min-content;
  margin-top: auto;
  min-width: 16rem;

  @include breakpoint($xl-bp) {
    min-width: 15rem;
    font-size: 1.6rem;
    line-height: 2rem;
    padding: 1.3rem 1.7rem;
  }
}

.colors-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;

  @include breakpoint($sm-bp) {
    gap: 0.5rem;
    height: min-content;
  }
}

.colors-list-item {
  &:nth-child(n+11) {
    display: none;
  }

  height: min-content;

  a,
  button {
    border-radius: 100%;
    display: block;
    overflow: hidden;
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    background: rgba(255, 255, 255, 0.75);

    @include breakpoint($xl-bp) {
      width: 2.9rem;
      height: 2.9rem;
    }

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      border: 0.2rem solid transparent;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 100%;
      transition: border-color .3s;
    }

    &.active,
    &:hover {
      &::before {
        border-color: var(--green);
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  a {
    &:hover {

      .dots::before,
      .dots::after,
      &::after {
        background-color: var(--green);
      }
    }

    &::before {
      border-color: var(--black);

      @include breakpoint($sm-bp) {
        border-width: 0.1rem;
      }
    }

    &::after {
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: var(--black);
      border-radius: 50%;
      transition: background-color .3s;

      @include breakpoint($sm-bp) {
        width: 0.3rem;
        height: 0.3rem;
      }
    }

    .dots {

      &::before,
      &::after {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--black);
        border-radius: 50%;
        transition: background-color .3s;

        @include breakpoint($sm-bp) {
          width: 0.3rem;
          height: 0.3rem;
        }
      }

      &::after {
        left: calc(50% + 0.8rem);

        @include breakpoint($sm-bp) {
          left: calc(50% + 0.5rem);
        }
      }

      &::before {
        left: calc(50% - 0.8rem);

        @include breakpoint($sm-bp) {
          left: calc(50% - 0.5rem);
        }
      }
    }
  }
}

.hover-scale {
  img {
    transition: transform .3s;
    will-change: transform;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.main-img,
.presentation-img,
.gallery-swiper .swiper-slide a,
.product-image,
.set-img-1,
.set-img-2 {
  img {
    transition: transform .3s;
    will-change: transform;
  }

  &:hover {
    img {
      transform: scale(1.1);
    }
  }
}

.design-block {
  display: grid;
  grid-template-columns: 1fr 70rem 1fr;
  align-items: center;
  padding: 2.5rem 7rem;
  border: 0.2rem solid #000000;
  border-radius: 1.5rem;
  margin-top: 7.4rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    padding: 2rem 1.5rem;
    margin-top: 4rem;
  }

  @include breakpoint($sm-bp) {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }

  .colors-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include breakpoint($xl-bp) {
      grid-template-columns: repeat(6, max-content);
      justify-content: center;
      gap: 1rem;
      margin-top: 2.5rem;
    }
  }

  .colors-list-item {

    button,
    a {
      width: 8.2rem;
      height: 8.2rem;

      @include breakpoint($xl-bp) {
        width: 4.1rem;
        height: 4.1rem;
      }
    }
  }
}

.design-list-container {
  padding-right: 13.5rem;

  @include breakpoint($xl-bp) {
    padding-right: 0;
    grid-row: 3 / 4;
    margin-top: 2rem;
  }

}

.design-colors {
  padding-left: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  @include breakpoint($xl-bp) {
    padding-left: 0;
  }
}

.design-img {
  @include breakpoint($xl-bp) {
    height: 22.5rem;
  }
}

.design-button {
  display: none;

  @include breakpoint($xl-bp) {
    grid-row: 4 / 5;
    display: block;
    margin-top: 2rem;
  }
}

.main-two-column {
  display: grid;
  grid-template-columns: 54.8rem 1fr;
  gap: 35.6rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: 1fr;
    gap: 10rem;
  }

  @include breakpoint($sm-bp) {
    padding-left: 0;
    padding-right: 0;
  }

  .presentation-top-wrapper {
    width: 100%;
    justify-content: flex-start;
  }

  .main-two-column__left {
    .presentation-top {
      width: 100%;

      @include breakpoint($xl-bp) {
        padding-left: 4rem;
        padding-right: 4rem;
      }

      @include breakpoint($sm-bp) {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
      }

      .presentation-top-wrapper {
        @include breakpoint($xl-bp) {
          gap: 3rem;

        }
      }
    }
  }

  .main-two-column__right {
    .presentation-top {
      width: 100%;
    }

    .presentation-top-wrapper {
      @include breakpoint($xl-bp) {
        padding-right: 4rem;
        padding-left: 4rem;
      }

      @include breakpoint($sm-bp) {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        gap: 8rem;
      }
    }

    .presentation-block {
      padding-left: 2rem;
      padding-right: 2rem;

      @include breakpoint($sm-bp) {
        padding-left: 1.3rem;
        padding-right: 1.3rem;
      }
    }

    .colors-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      @include breakpoint($sm-bp) {
        margin-left: 0.8rem;
      }
    }

    .presentation-colors {
      gap: 3rem;

      @include breakpoint($sm-bp) {
        gap: 1rem;
      }
    }
  }
}

.main-two-column__margin {
  margin-top: 6.2rem;

  @include breakpoint($xl-bp) {
    margin-top: 4rem;
  }
}

.main-two-column-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5.6rem;

  @include breakpoint($xl-bp) {
    grid-template-columns: repeat(1, 1fr);
    gap: 3.2rem;
  }

  .colors-list-item {
    &:nth-child(n+7) {
      display: none;
    }
  }
}

.dark {
  background-color: var(--black);
  padding-top: 8rem;
  padding-bottom: 8rem;

  color: var(--white);

  @include breakpoint($xl-bp) {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.main-callback-top {
  width: 109.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  @include breakpoint($xl-bp) {
    width: 100%;
    align-items: flex-start;
  }
}

.main-callback-title {
  max-width: 77.8rem;
  text-align: end;

  @include breakpoint($xl-bp) {
    text-align: start;
  }

  @include breakpoint($sm-bp) {
    max-width: 30.7rem;
  }
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 53.6rem;

  @include breakpoint($xl-bp) {
    width: 100%;
  }
}

.main-form-button {
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 2.4rem;
  line-height: 3.1rem;
  text-transform: none;
  letter-spacing: -0.025em;
  @include breakpoint($xl-bp) {
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.main-form-text {
  font-size: 1.4rem;
  line-height: 1.8rem;
  @include breakpoint($sm-bp) {
    font-size: 1rem;
    line-height: 1.3rem;
    max-width: 25.6rem;
    letter-spacing: -0.025em;
  }
}

.dark {
  .page-input {
    border-color: var(--green);
    color: var(--white);
    @include breakpoint($sm-bp) {
      border-color: #80FB55;
    }

    &:focus {
      border-color: var(--white);
    }
  }
}
.page-input.error {
  border-color: red;
}
.page-input {
  border: 0.2rem solid var(--black);
  border-radius: 0.5rem;
  background-color: transparent;
  padding: 2.8rem 1.8rem;

  font-family: 'Onest';
  font-style: normal;
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.1rem;
  /* identical to box height */

  letter-spacing: -0.025em;

  /* Gray 4 */
  
  color: var(--black);
  @include breakpoint($sm-bp) {
    padding: 1.8rem 1.5rem;
    font-size: 1.6rem;
    line-height: 2rem;
  }
  &::placeholder {
    opacity: 1;
    color: var(--grey);
  }
  &:focus {
    outline: unset;
    border-color: var(--green);
  }
}

.gallery-swiper {
  margin-top: 6rem;
  @include breakpoint($xl-bp) {
    margin-top: 4rem;
  }
  .swiper-slide {
    margin-right: 4rem;
    height: 45.2rem;
    width: auto;
    @include breakpoint($sm-bp) {
      height: 27.8rem;
      width: 35.9rem;
      margin-right: 1rem;
    }
    a {
      display: block;
      overflow: hidden;
      position: relative;
      height: 100%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.65), rgba(255, 255, 255, 0.65));
      opacity: 0;
      transition: opacity .3s;
      pointer-events: none;
      @include breakpoint($sm-bp) {
        content: unset;
      }
    }

    img {
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      @include breakpoint($sm-bp) {
        width: 100%;
      }
    }
  }

  .slide-hide {
    position: relative;

    &::before {
      opacity: 1;
    }
  }
}

.gallery-bot {
  margin-top: 6rem;
  text-align: center;
}