<div class="callback">
  <h2 class="h2 max-w-778">Оставьте заявку и наши консультанты помогут вам с выбором напольного покрытия</h2>

  <form action="#" class="main-form">
    <input type="text" name="name" placeholder="Имя" class="page-input" required>
    <input type="tel" name="tel" placeholder="Номер телефона" class="page-input" required>
    <input type="Email" name="email" placeholder="Email" class="page-input" required>
    <div class="main-form-text">Оставляя заявку вы соглашаетесь на обработку ваших персональных данных.</div>

    <button type="submit" class="page-button main-form-button">Оставить заявку</button>
  </form>
</div>