<footer class="footer mt-220 container">
  <a href="#" class="footer-logo">
    <img src="./assets/images/footer/logo.svg" alt="logo">
  </a>
  
  <nav>
    <ul>
      <li><a href="#">Каталог</a></li>
      <li><a href="#">Укладка</a></li>
      <li><a href="#">Портфолио</a></li>
      <li><a href="#">Оплата/Доставка</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </nav>

  <div class="socials">
    <div class="social-title">Соц. сети</div>
    <ul class="social-list">
      <li class="social-item"><a href="#"></a></li>
      <li class="social-item"><a href="#"></a></li>
      <li class="social-item"><a href="#"></a></li>
    </ul>
  </div>

  <div class="adress">
    Индекс<br>г. Такой-то,улица Такая-то
    дом 0, оф. 0
  </div>

  <ul class="links">
    <li class="links-item"><a href="tel:00000000000">0000 000 00 00</a></li>
    <li class="links-item"><a href="mailto:email@gmail.com">email@gmail.com</a></li>
  </ul>

  <div class="footer-search footer-link"><a href="#">Поиск по сайту</a></div>

  <div class="footer-politics footer-link"><a href="#">Политика конфиденциальности</a></div>
</footer>