<div class="menu">
  <nav>
    <ul>
      <li>
        <a href="#" class="header-btn active">Каталог</a>
        <div class="menu-wrapper">
          <ul>
            <li>
              <a href="#">
                <div class="img-cover">
                  <img src="./assets/images/header/header-1.jpg" alt="catalog">
                </div>
                Ковровые покрытия
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img-cover">
                  <img src="./assets/images/header/header-2.jpg" alt="catalog">
                </div>
                Ковровая плитка
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img-cover">
                  <img src="./assets/images/header/header-3.jpg" alt="catalog">
                </div>
                Дизайн плитка ПВХ
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img-cover">
                  <img src="./assets/images/header/header-4.jpg" alt="catalog">
                </div>
                Грязезащитное покрытие
              </a>
            </li>
            <li>
              <a href="#">
                <div class="img-cover">
                  <img src="./assets/images/header/header-5.jpg" alt="catalog">
                </div>
                В наличии в Москве
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li><a href="#">Укладка</a></li>
      <li><a href="#">Портфолио</a></li>
      <li><a href="#">Оплата/Доставка</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </nav>
</div>